<!DOCTYPE html>
<html>
<head>
	<title>JoshNickell</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

	<link href="parallax.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://www.solodev.com/assets/parallax/jquery.localscroll-1.2.7-min.js"></script>
	<script src="https://www.solodev.com/assets/parallax/jquery.parallax-1.1.3.js"></script>
	<script src="https://www.solodev.com/assets/parallax/jquery.scrollTo-1.4.2-min.js"></script>
	<script src="scrolling.js"></script>
</head>

<header>
	<nav> 
		<ul id="user-session-nav">
			<% if current_user %>
			
			<li><%= link_to "Logout", logout_path, method: 'delete' %></li>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "#{current_user.username}", user_path(current_user) %></li>
			<% else %>

			<li><%= link_to 'Login', login_path %></li>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to 'Signup', signup_path %></li>

			<% end %>
		</ul>
	</nav>
</header>

<body class="parallax", style="align-content: center;" >
	<% if flash[:notice] %>
	<div class="notice"><%= flash[:notice] %></div>
	<% end %>

	<%= yield %>
</body>

<footer>
	Nickell & Dime Productions &copy 2017
</footer>

</html>
